<h1>Welcome to users index page</h1>
<% @users.each do |user| %>
  <%= link_to user_path(user.id) do %>
  <div class="user_card">
    <section>
      <img src="<%= user.photo %>" alt="User image">
    </section>
    <section class="name_posts">      
      <h2 class="user_name"><%= user.name %></h2>
      <h3 class="user_posts">Number of posts: <%= user.posts_counter %></h3>  
    </section>
  </div>
  <% end %>
<% end %>


