<% if comments.length == 0 %>
    <h4>This post doesn't have comments yet.</h4>
<% else %>
  <% comments.includes(:author).each do |comment| %>    
    <h3 class="margin" ><%= comment.author.name %>: <%= comment.text%></h3>
  <% end %>
<% end %>